PUBLIC_SITE_NAME=KBBQGuide
PUBLIC_SITE_URL=https://kbbqguide.com
PUBLIC_GA4_ID={{GA4_ID}}
PUBLIC_SEARCH_CONSOLE_TOKEN={{SEARCH_CONSOLE_TOKEN}}
LEGAL_NAME={{LEGAL_NAME}}
POSTAL_ADDRESS={{POSTAL_ADDRESS}}
CONTACT_EMAIL={{CONTACT_EMAIL}}
EMAIL_PROVIDER={{EMAIL_PROVIDER}}
SOCIAL_SCHEDULER={{SOCIAL_SCHEDULER}}
MESSAGING_PROVIDER={{MESSAGING_PROVIDER}}
AFFILIATE_AMAZON_ASSOCIATES_ID=
AFFILIATE_WEEE_ID=
AFFILIATE_WALMART_CREATOR_ID=
AFFILIATE_THERMOWORKS_IMPACT_ID=
AFFILIATE_BBQGUYS_IMPACT_ID=
AFFILIATE_OONI_AWIN_ID=
AFFILIATE_EBAY_ID=
AFFILIATE_ETSY_ID=
AFFILIATE_HOME_DEPOT_ID=
